@font-face{
    font-family: "circular_regular";
    src: local("PlusJakartaSans-Regular"),
        url("../fonts/PlusJakartaSans-Regular.ttf") format("truetype");
}
@font-face{
    font-family: "circular_extrabold";
    src: local("PlusJakartaSans-ExtraBold"),
        url("../fonts/PlusJakartaSans-ExtraBold.ttf") format("truetype");
}
@font-face{
    font-family: "circular_semibold";
    src: local("PlusJakartaSans-SemiBold"),
        url("../fonts/PlusJakartaSans-SemiBold.ttf") format("truetype");
}


body{
    background-color: rgb(26, 26, 26);
}


*{
    color: white;
    font-family: "circular_regular";
}

h1{
    color: white;
    font-family: "circular_semibold";
}

button{
    background-color: #1DB954;
    color: black;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 28px;
    border: none;
    font-family: "circular_semibold";
}