.container {
    display: flex;
    height: auto;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.izquierda,
.derecha {
    width: 20%;

}

.cuerpo {
    flex-grow: 1;

}


.izquierda,
.derecha {
    background-color: #282828;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.derecha img {
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
