@font-face {
    font-family: "circular_semibold";
    src: local("PlusJakartaSans-SemiBold"),
        url("../fonts/PlusJakartaSans-SemiBold.ttf") format("truetype");
}

.page-controls {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.page-controls label {
    margin-right: 10px;
}

.page-controls input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e0e0e0;
}

.page-controls p {
    margin-left: 20px;
    font-size: 16px;
}


.lista-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.lista-table th,
.lista-table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

.lista-table th {
    background-color: #282828;
    color: white;

}

.lista-table tbody tr:hover {
    background-color: #3f3f3f;
}

.lista-table img {
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    max-height: 50px;
    margin: 0;
}


.lista-table .checkbox-td {
    text-align: center;
}


.lista-table input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    vertical-align: middle;

}

.lista-table input[type="checkbox"]:checked {
    background-color: #1DB954;
    border-color: #1DB954;
}

.lista-table input[type="checkbox"]:hover {
    background-color: #f0f0f0;
}

input[type="text"] {
    color: black;
}


.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-container button {
    background-color: #1DB954;
    color: black;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 20px;
    border: none;
    font-family: "circular_semibold";
    text-align: center;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #1aa34a;
}

.button-container button:disabled {
    background-color: #a3a3a3;
    cursor: not-allowed;
}



@media screen and (max-width: 768px) {

    .lista-table th:nth-child(2),
    .lista-table td:nth-child(2),
    .lista-table th:nth-child(5),
    .lista-table td:nth-child(5),
    .lista-table th:nth-child(6),
    .lista-table td:nth-child(6),
    .lista-table th:nth-child(7),
    .lista-table td:nth-child(7) {
        display: none;
        /* Oculta la columna de fecha añadida y duración en pantallas pequeñas */
    }

    .lista-table th,
    .lista-table td {
        padding: 8px;
        height: 50px;
    }

    /* Reduzca el tamaño de los botones de navegación */
    .button-container button {
        padding: 8px 10px;
        margin-bottom: 10px;
    }

    .page-controls label,
    .page-controls input,
    .page-controls p {
        margin: 5px 0;
    }

}


@media (min-width: 769px) and (max-width: 1500px) {

    .lista-table th:nth-child(6),
    .lista-table td:nth-child(6),
    .lista-table th:nth-child(7),
    .lista-table td:nth-child(7) {
        display: none;
        /* Oculta la columna de fecha añadida y duración en pantallas pequeñas */
    }

    .lista-table th,
    .lista-table td {
        padding: 8px;
    }

    .lista-table img {
        height: 40px;
    }

    /* Reduzca el tamaño de los botones de navegación */
    .button-container button {
        padding: 8px 18px;
        margin-bottom: 10px;
    }

}

@media screen and (max-width: 350px) {

    .lista-table th,
    .lista-table td {
        font-size: 12px;
        /* Reducir el tamaño de la fuente cuando el ancho de la pantalla es menor de 350px */
    }
}