.targeta-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.targeta-imagen-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.targeta-imagen-section img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0;
}

.targeta-imagen {
    width: 100%;
}

.targeta-contenido-section {
    background-color: #202020;
    padding: 0 20px;
}

.targeta-contenido {
    padding-bottom: 20px;
}

.targeta-contenido button {
    margin-top: 10px;
    padding: 5px 30px;
    font-size: 22px;
}

.targeta-titulo {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.targeta-descripcion {
    margin-bottom: 10px;
    word-wrap: break-word;
}
